@page
@model TemplateModel
@{
    ViewData["Title"] = "Home page";
}
@using (Html.BeginForm("Template", "Template", FormMethod.Post))
{
    <input type="submit" value="submit" />
    <br />
    <input type="text" asp-for="PK" class="full form-input" value="@Model.PK" id="PK" name="PK" />
    <input type="text" asp-for="GROUP" class="full form-input" value="@Model.GROUP" id="GROUP" name="GROUP" />
    <br />
<textarea class="full" style="height:50px;">@Model.Input</textarea>
<textarea class="full" style="height:50vh; font-size:.9em;">@Model.Output</textarea>

<textarea class="full" style="height:30vh;">@Model.Sections</textarea>
    <div class="  ">
        <div class="row">
            <div class="col-sm-6">
                <textarea class="full" style="height:50000px;"> </textarea>
            </div>
            <div class="col-sm-6">
                <textarea class="full" style="height:50000px;"> </textarea>
            </div>
        </div>
    </div>
    <input type="text" class="full form-input" value="@Model.Input" id="Input" name="Input" />
}